header.top-header {
  height: 80px;
}
nav.top-nav {
  background-color: #333333;
  height: 50px;

  &>div.top-nav__menus {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    line-height: 100%;
  }
}
footer.bottom-copyright {
  display: flex;
  background-color: #333333;
  color: #0fd;
  justify-content: center;
  height: 60px;
  line-height: 60px;
  font-size: 12px;
}