nav.top-nav {
  background-color: rgb(32,41,51);
  height: 80px;

  &>div.top-nav__menus {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    line-height: 100%;
  }
}
footer {
  &.footer {
    background-color: #eee;
    color: #222;
    display: flex;
    justify-content: center;

    &>div.container {
      width: 70%;

      &>div {
        &.quick-starts {
          padding: 50px 0;
          height: 400px;

          &>div.content {
            float: left;
            width: 25%;

            &>div.content-header {
              font-size: 30px;
              font-weight: 400;
              height: 80px;
              line-height: 80px;
              border-bottom: solid .5px rgb(69,72,77);
            }

            &>ul.content-list {
              margin: 20px 0 0 0;
              padding: 0 0 0 10px;
              list-style-type: none;

              &>li {
                font-size: 14px;
                height: 30px;
                line-height: 30px;
                transition: color 200ms;

                &:hover {
                  color: rgb(236,143,143);
                }
              }
            }
          }
        }

        &.sitemap {
          position: relative;
          height: 100px;
          line-height: 50px;
          border-top: solid .5px rgb(69,72,77);
  
          &>div.contact {
            font-size: 14px;

            &>a {
              color: rgb(136,143,143);
              &:hover {
                color: #d00;
              }
            }
          }
        }
        
        &.copyright {
          height: 80px;
          line-height: 80px;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}